  <div class="olca_footer">
    <div class="footer_box">
      <p>Oshiwara Lokahandwala Citizen Association | The Mission For Better Vicinity</p>
      <p><a href="/index">Home</a> | 
      	<a href="/about">About Us</a> | 
      	<a href="/vicinity">Our Vicinity</a> | 
      	<a href="/mission">Our Mission</a> | 
      	<a href="#">Alliance</a> | 
      	<a href="/achievement">Achievements</a> | 
      	<a href="/media">Media</a> | 
      	<a href="/event">Events</a> | 
      	<a href="/signup">Join Us</a> | 
      	<a href="/site_map">Site Map</a> | 
      	<a href="/faq">FAQS</a> | 
      	<a href="/contact">Contact us</a></p>
      <p>Help Line: <a href="/hospital">Hospitals</a> | 
      	<a href="/college">Colleges</a> | 
      	<a href="/school">Schools</a> | 
      	<a href="/fire_brigade">Fire Brigade</a> | 
      	<a href="/ambulance">Ambulance</a> | 
      	<a href="/bmc">BMC</a></p>
      <p>All Rights Reserved 2012 | OLCA</p>
    </div>
  </div>
