<div id="main_wrapper">
  <div class="olca_header">
    <div class="headerbanner"><%= image_tag 'olca_mission_banner.jpg' %></div>
    <div class="headerlinks"> <a href="" title="Homepage">Homepage</a> | <a href="" title="About Us">About Us</a> | <a href="" title="Our Mission">Our Mission</a> | <a href="" title="Achievements">Achievements</a> | <a href="" title="Our Vicinity">Our Vicinity</a> | <a href="" title="Homepage">Join Us</a> | <a href="" title="Homepage">Donate</a> | <a href="" title="FAQS">FAQS</a> | <a href="" title="Contact us">Contact us</a> | <a href="" title="Site Map">Site Map</a></div>
  </div>
  <div class="olca_dynamic">
	<%= render 'home/olca_home_top' %>
	<%= render 'home/olca_home_mid' %>

    <div class="olca_helpline">Help Line : 
    	<a href="/hospital" title="Hospitals">Hospitals</a> | 
    	<a href="/college" title="Colleges">Colleges</a> | 
    	<a href="/school" title="Schools">Schools</a> | 
    	<a href="/fire_brigade" title="Fire Brigade">Fire Brigade</a> | 
    	<a href="/ambulance" title="Ambulance">Ambulance</a> | 
    	<a href="/bmc" title="BMC">BMC</a>
    </div>
  </div>
  <div class="olca_footer">
    <div class="footer_box">
      <p>Oshiwara Lokahandwala Citizen Association | The Mission For Better Vicinity</p>
      <p><a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Our Vicinity</a> | <a href="#">Our Mission</a> | <a href="#">Alliance</a> | <a href="#">Achievements</a> | <a href="#">Media</a> | <a href="#">Events</a> | <a href="#">Join Us</a> | <a href="#">Site Map</a> | <a href="#">FAQS</a> | <a href="#">Contact us</a></p>
      <p>Help Line: <a href="#">Hospitals</a> | <a href="#">Colleges</a> | <a href="#">Schools</a> | <a href="#">Fire Brigade</a> | <a href="#">Ambulance</a> | <a href="#">BMC</a></p>
      <p>All Rights Reserved 2012 | OLCA</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
