<div class="olca_wrapper">
  <div class="olca_content">
    <h1>Welcome in OLCA</h1>
    <div class="olca_iconimg"><%= image_tag 'profile_pic.jpg' %></div>
    <div class="olca_text">
      <p>Once again, come and Join hands to empower We will never let anyone to ruin the Mangroves and wholeheartedly committed 
        to save and bring back our Mangroves destroyed opposite ‘Millat Nagar’ We will never let anyone to ruin the Mangroves and 
        wholeheartedly committed to save and bring back our Mangroves destroyed opposite ‘Millat Nagar’ ourselves to create a better 
        world. <strong>Our Goals are:</strong><br />
        <br />
        <strong>:- Save Mangroves, Open Spaces,</strong> <br />
        <strong>:- Obtain Building Conveyance,</strong> <br />
        <strong>:- Protect and Create Green Zones,</strong> <br />
        <strong>:- Civic Facilities, Safe Neighbourhood,</strong> <br />
        <strong>:- Clean and Beautiful Vicinity.</strong> </p>
        <p>&nbsp;</p>
        <p><a href="#" class="readmoregreen">Read More..</a></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
