    <div class="olca_helpline">Help Line : 
    	<a href="/hospital" title="Hospitals">Hospitals</a> | 
    	<a href="/college" title="Colleges">Colleges</a> | 
    	<a href="/school" title="Schools">Schools</a> | 
    	<a href="/fire_brigade" title="Fire Brigade">Fire Brigade</a> | 
    	<a href="/ambulance" title="Ambulance">Ambulance</a> | 
    	<a href="/bmc" title="BMC">BMC</a>
    </div>
